# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui/pbpms-ui/node_modules
ui/pbpms-ui/.pnp
ui/pbpms-ui.pnp.js

# testing
ui/pbpms-ui/coverage

# production
ui/pbpms-ui/build

# misc
ui/pbpms-ui.DS_Store
ui/pbpms-ui.env.local
ui/pbpms-ui.env.development.local
ui/pbpms-ui.env.test.local
ui/pbpms-ui.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
